body {
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family:'Poppins', sans-serif;
  margin: auto;
  background-image: url("./img/bg1.jpg");
}
.App {
  text-align: center;
}

.Logo{
  width: 20px;
  height: 20px;
  margin-top: 60px;
  margin-left:50px;
  margin-right: 20px;
  margin-bottom: 80px;
 
}
.subTitulo{
  margin-top: 50px;
  margin-left: 150px;
  justify-content: center;
  font-size: 50px;
  font-family: "Poppins" sans-serif;
  color: rgb(189, 79, 79);  
}
.nomeDesenvolvedor{
  margin-left: 15px;
  color: rgb(95, 5, 5);
  }
.textoSobrecharles{
  align-items:center;
  margin-left: 30px;
  margin: 30px 10px 50px 10px;
}
.textoSobreleo{
  align-items: center;
  margin-left: 30px;
  margin: 30px 10px 50px 10px;
}
.textoSobreDani{
  align-items: center;
  margin-left: 30px;
  margin: 30px 10px 50px 10px;
}
.avatarPerfil {
  border-radius: 200px;
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid rgba(136, 136, 136, 0.876);
  box-shadow:0 6px 10px 4px rgba(255, 105, 135, .3);  
}
.tituloForm {
  font-size:40px;
  margin-top:150px;
  margin-bottom:50px;
  display: flex;
  align-items: center;
  justify-content: center; 
  color: rgb(95, 5, 5);
  margin-top: 30px;
}
.formContato {
  margin-top: 20px;
  margin-bottom: 30px;
}

.App-link {
  color: #09d5f0;
}
.Input{
  margin-top: 15px;
  margin-bottom: 30px;
}

.container{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Filtro{

  width: 100%;
  height: 100%;
  background-color: #14141486;
  position:absolute;
  top: 0;
  left: 0;
}
